.navbar-collapse {
    display: flex;
    justify-content: center;
}

.nav-divider {
    border-right: 1px solid #b1b1b1;
    margin: 0 15px; /* adjust spacing as needed */
}

.custom-navbar {
    background-color: transparent;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #ffffff;
    font-weight: bold;
}
